<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" name="" v-model="item">
    <button @click="addTodo">添加</button>
    <hr>
    <ul>
        <li v-for="todo in todos">{{ todo }}</li>
    </ul>
</div>

</body>
<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            todos:['vue','django','flask'],
            item:'',
        },
        methods:{
            addTodo:function (){
                //alert(this.item)
                this.todos.push(this.item)
                this.item=''
            }
        }
    })
</script>
</html>